.p-Home.Div1 {
background-color: #ffffff;
width: 1280px;
height: 720px;
}
.p-Home.Flex1 {
display: flex;
width: 1280px;
height: 91px;
position: static;
z-index: 0;
top: 0;
float: none;
clear: none;
box-sizing: content-box;
overflow: visible;
flex-grow: 1000;
}
.p-Home.Flex2 {
display: flex;
width: 650px;
height: 35px;
margin-top: 29px;
margin-left: 55px;
}
.p-Home.Flex3 {
display: flex;
height: 35px;
width: 244px;
}
.p-Home.Div2 {
width: 50px;
height: 35px;
margin-left: 35px;
}
.p-Home.Div4 {
width: 50px;
height: 35px;
margin-left: 20px;
}
.p-Home.Div5 {
width: 50px;
height: 35px;
margin-left: 20px;
}
.p-Home.Div6 {
width: 50px;
height: 35px;
margin-left: 20px;
}
.p-Home.Div7 {
width: 50px;
height: 35px;
margin-left: 20px;
}
.p-Home.Flex4 {
display: flex;
height: 40px;
width: 350px;
margin-left: 106px;
margin-top: 27px;
}
.p-Home.Flex5 {
display: flex;
width: 1280px;
height: 500px;
}
.p-Home.Flex6 {
display: flex;
width: 810px;
flex-direction: column;
justify-content: flex-start;
flex-wrap: nowrap;
align-content: stretch;
}
.p-Home.Flex7 {
display: flex;
width: 410px;
height: 130px;
margin-left: 200px;
margin-top: 190px;
justify-content: flex-start;
align-items: stretch;
flex-direction: row;
}
.p-Home.Div8 {
width: 410px;
height: 65px;
}
.p-Home.Div9 {
;
}
.p-Home.Div10 {
align-self: auto;
width: 462px;
height: 92px;
margin-left: 201px;
margin-top: ;
padding-left: ;
}
.p-Home.Flex8 {
display: flex;
width: 350px;
height: 40px;
margin-left: ;
}
.p-Home.Flex9 {
display: flex;
width: 510px;
background-color: #ff7629;
}
.p-Home.Flex10 {
display: flex;
height: 150px;
text-align: center;
flex-direction: column;
align-items: center;
align-self: center;
position: static;
justify-content: flex-start;
flex-wrap: nowrap;
align-content: stretch;
width: 1280px;
}
.p-Home.Div11 {
height: 27px;
width: 360px;
}
.p-Home.Flex11 {
display: flex;
width: 450px;
height: 35px;
}
.p-Home.Flex12 {
display: flex;
height: 35px;
width: 700px;
margin-left: ;
margin-top: 45px;
align-items: stretch;
justify-content: center;
padding-right: ;
margin-right: ;
position: relative;
right: 55px;
}
.p-Home.Flex13 {
display: flex;
height: 40px;
}
.p-Home.Flex14 {
display: flex;
width: 1280px;
height: 800px;
flex-direction: column;
box-sizing: border-box;
border-style: ;
outline-color: ;
color: ;
background-color: ;
}
.p-Home.Div12 {
width: 220px;
margin-left: 550px;
}
.p-Home.Flex15 {
display: flex;
height: 396px;
width: 1066px;
margin-left: 103px;
margin-right: ;
margin-top: 50px;
}
.p-Home.Flex16 {
display: flex;
width: 518px;
height: 396px;
}
.p-Home.Flex18 {
display: flex;
width: 244px;
flex-direction: column;
align-items: center;
row-gap: 35px;
border-radius: 25px;
border-width: 1px;
border-color: #7a7a7aff;
border-style: solid;
}
.p-Home.Div13 {
;
}
.p-Home.Div14 {
;
}
.p-Home.Div15 {
;
}
.p-Home.Flex19 {
display: flex;
width: 244px;
margin-left: 30px;
flex-direction: column;
align-items: center;
row-gap: 35px;
border-radius: 25px;
border-color: #7a7a7aff;
border-width: 1px;
border-style: solid;
}
.p-Home.Div16 {
;
}
.p-Home.Div17 {
;
}
.p-Home.Div18 {
;
}
.p-Home.Flex17 {
display: flex;
width: 518px;
margin-left: 60px;
}
.p-Home.Flex20 {
display: flex;
width: 244px;
flex-direction: column;
align-items: center;
row-gap: 35px;
border-radius: 25px;
border-style: solid;
border-width: 1px;
border-color: #7a7a7aff;
}
.p-Home.Div19 {
;
}
.p-Home.Div20 {
;
}
.p-Home.Div21 {
;
}
.p-Home.Flex21 {
display: flex;
width: 244px;
margin-left: 30px;
flex-direction: column;
align-items: center;
row-gap: 35px;
border-radius: 25px;
border-width: 1px;
border-style: solid;
border-color: #7a7a7aff;
}
.p-Home.Div22 {
;
}
.p-Home.Div23 {
;
}
.p-Home.Div24 {
;
}
.p-Home.Flex22 {
display: flex;
width: 418px;
height: 41px;
flex-direction: row;
align-items: center;
margin-left: 465px;
justify-content: space-between;
margin-top: 60px;
border-color: transparent;
outline-color: transparent;
}
.p-Home.Flex23 {
display: flex;
width: 1280px;
height: 876px;
background-color: #FFF9F3ff;
border-color: transparent;
}
.p-Home.Flex24 {
display: flex;
width: 570px;
height: 700px;
flex-direction: column;
margin-top: 100px;
margin-left: 220px;
}
.p-Home.Flex25 {
display: flex;
flex-direction: column;
height: 292px;
align-items: flex-start;
row-gap: ;
column-gap: ;
width: 320px;
background-color: #ffffff;
border-radius: 25px;
padding-left: 50px;
padding-right: 20px;
padding-top: 50px;
padding-bottom: 50px;
position: relative;
bottom: 100px;
left: 190px;
}
.p-Home.Div25 {
width: 350px;
height: 90px;
}
.p-Home.Flex26 {
display: flex;
height: 61px;
width: 350px;
margin-left: 15px;
position: relative;
bottom: 25px;
}
.p-Home.Flex27 {
display: flex;
width: 300px;
height: 24px;
color: #504d4dff;
font-size: 13px;
margin-left: 15px;
padding-bottom: ;
margin-bottom: ;
position: relative;
bottom: 24px;
}
.p-Home.Flex28 {
display: flex;
height: 20px;
width: 300px;
margin-left: 15px;
}
.p-Home.Flex29 {
display: flex;
width: 570px;
height: 422px;
flex-direction: column;
text-align: left;
row-gap: 25px;
margin-top: 300px;
}
.p-Home.Div26 {
;
}
.p-Home.Div27 {
;
}
.p-Home.Div28 {
;
}
.p-Home.Flex30 {
display: flex;
width: 303px;
height: 41px;
}
.p-Home.Flex31 {
display: flex;
width: 1280px;
height: 1200px;
border-color: transparent;
flex-direction: column;
align-items: center;
justify-content: space-between;
margin-top: 55px;
}
.p-Home.Flex221 {
display: flex;
width: 1065px;
height: 2000px;
flex-direction: column;
align-items: center;
justify-content: flex-end;
margin-bottom: ;
}
.p-Home.Flex218 {
display: flex;
width: 1040px;
height: 400px;
}
.p-Home.Flex214 {
display: flex;
width: 520px;
height: 400px;
}
.p-Home.Flex206 {
display: flex;
width: 225px;
flex-direction: column;
row-gap: 9px;
margin-left: 25px;
height: 400px;
}
.p-Home.Flex200 {
display: flex;
width: 85px;
height: 25px;
background-color: #ffffff;
border-radius: 20px;
margin-top: ;
position: relative;
top: 40px;
left: 120px;
}
.p-Home.Flex207 {
display: flex;
width: 225px;
flex-direction: column;
row-gap: 9px;
}
.p-Home.Flex201 {
display: flex;
flex-direction: column;
width: 85px;
height: 25px;
position: relative;
top: 40px;
background-color: #fffefe;
border-radius: 20px;
left: 120px;
}
.p-Home.Flex215 {
display: flex;
width: 520px;
margin-bottom: ;
}
.p-Home.Flex208 {
display: flex;
row-gap: 9px;
width: 225px;
margin-left: 25px;
flex-direction: column;
}
.p-Home.Flex202 {
display: flex;
flex-direction: column;
width: 85px;
height: 25px;
position: relative;
left: 112px;
top: 40px;
right: 0;
background-color: #ffffff;
border-radius: 35px;
}
.p-Home.Div77 {
;
}
.p-Home.Flex209 {
display: flex;
width: 225px;
height: ;
flex-direction: column;
row-gap: 9px;
}
.p-Home.Div79 {
margin-left: ;
padding-left: 15px;
padding-right: 15px;
position: relative;
top: 35px;
bottom: 10px;
left: 95px;
right: 60px;
width: 85px;
height: 25px;
background-color: #ffffff;
border-radius: 35px;
}
.p-Home.Flex220 {
display: flex;
flex-direction: row;
width: 1065px;
height: 400px;
margin-top: 90px;
}
.p-Home.Flex216 {
display: flex;
width: 520px;
}
.p-Home.Flex210 {
display: flex;
width: 225px;
height: ;
flex-direction: column;
row-gap: 9px;
}
.p-Home.Div80 {
margin-left: ;
padding-left: 15px;
padding-right: 15px;
position: relative;
top: 35px;
bottom: 10px;
left: 95px;
right: 60px;
width: 85px;
height: 25px;
background-color: #ffffff;
border-radius: 35px;
}
.p-Home.Flex211 {
display: flex;
row-gap: 9px;
width: 225px;
margin-left: 25px;
flex-direction: column;
}
.p-Home.Flex203 {
display: flex;
flex-direction: column;
width: 85px;
height: 25px;
position: relative;
left: 112px;
top: 40px;
right: 0;
background-color: #ffffff;
border-radius: 35px;
}
.p-Home.Div78 {
;
}
.p-Home.Flex217 {
display: flex;
width: 520px;
height: 400px;
}
.p-Home.Flex212 {
display: flex;
width: 225px;
flex-direction: column;
row-gap: 9px;
}
.p-Home.Flex204 {
display: flex;
flex-direction: column;
width: 85px;
height: 25px;
position: relative;
top: 40px;
background-color: #fffefe;
border-radius: 20px;
left: 120px;
}
.p-Home.Flex213 {
display: flex;
width: 225px;
flex-direction: column;
row-gap: 9px;
margin-left: 25px;
height: 400px;
}
.p-Home.Flex205 {
display: flex;
width: 85px;
height: 25px;
background-color: #ffffff;
border-radius: 20px;
margin-top: ;
position: relative;
top: 40px;
left: 120px;
}
.p-Home.Flex51 {
display: flex;
width: 1280px;
height: 783px;
border-color: transparent;
color: #fb0c0c;
}
.p-Home.Flex52 {
display: flex;
width: 602px;
border-color: transparent;
background-color: #ff7629ff;
flex-direction: column;
}
.p-Home.Div33 {
;
}
.p-Home.Div34 {
;
}
.p-Home.Flex53 {
display: flex;
width: 301px;
height: 41px;
margin-left: 150px;
}
.p-Home.Flex54 {
display: flex;
width: 1280px;
height: 881px;
border-color: transparent;
flex-direction: column;
align-items: center;
margin-top: 2px;
}
.p-Home.Flex55 {
display: flex;
width: 8px;
height: 18px;
}
.p-Home.Div35 {
width: 365px;
margin-top: ;
}
.p-Home.Div36 {
;
}
.p-Home.Flex56 {
display: flex;
width: 1280px;
height: 298px;
flex-direction: row;
align-items: center;
justify-content: center;
column-gap: 28px;
}
.p-Home.Div37 {
width: 60px;
height: 60px;
}
.p-Home.Flex57 {
display: flex;
width: 645px;
height: 298px;
flex-direction: column;
row-gap: 15px;
border-radius: 35px;
border-color: #8e8e8e;
border-style: solid;
border-width: 1px;
}
.p-Home.Flex58 {
display: flex;
flex-direction: row;
width: 541px;
height: 30px;
column-gap: 15px;
margin-top: 15px;
margin-left: 45px;
}
.p-Home.Div39 {
width: 30px;
height: 30px;
}
.p-Home.Div40 {
;
}
.p-Home.Div41 {
;
}
.p-Home.Div42 {
;
}
.p-Home.Div43 {
;
}
.p-Home.Div44 {
;
}
.p-Home.Flex59 {
display: flex;
column-gap: 25px;
margin-left: 45px;
}
.p-Home.Flex60 {
display: flex;
width: 104px;
height: 43px;
flex-direction: column;
}
.p-Home.Div45 {
width: 104px;
height: 20px;
margin-top: 5px;
}
.p-Home.Div46 {
width: 104px;
height: 20px;
}
.p-Home.Div38 {
width: 60px;
height: 60px;
}
.p-Home.Flex61 {
display: flex;
width: 318px;
height: 41px;
margin-top: 60px;
align-items: center;
justify-content: center;
column-gap: 40px;
}
.p-Home.Flex62 {
display: flex;
width: 1290px;
height: 973px;
background-color: #FFF9F3ff;
border-style: none;
flex-direction: column;
}
.p-Home.Flex63 {
display: flex;
width: 1090px;
height: 88px;
align-items: center;
justify-content: space-between;
margin-top: 130px;
margin-bottom: 50px;
margin-left: 60px;
}
.p-Home.Div47 {
width: 161px;
height: 58px;
background-color: #ffffff;
border-radius: 50px;
text-align: center;
align-self: auto;
}
.p-Home.Flex64 {
display: flex;
height: 935px;
width: 1090px;
margin-left: 50px;
}
.p-Home.Flex65 {
display: flex;
width: 482px;
height: 635px;
flex-direction: column;
align-items: flex-start;
row-gap: ;
margin-left: 50px;
border-radius: 50px;
background-color: #ffffff;
margin-top: 20px;
}
.p-Home.Div48 {
height: 39px;
width: 481px;
}
.p-Home.Div49 {
height: 69px;
width: 481px;
}
.p-Home.Div50 {
height: 68px;
width: 481px;
}
.p-Home.Flex66 {
display: flex;
width: 578px;
height: 635px;
flex-direction: column;
align-items: stretch;
justify-content: center;
align-content: stretch;
row-gap: 25px;
column-gap: ;
padding-left: 75px;
margin-top: 20px;
}
.p-Home.Flex67 {
display: flex;
width: 578px;
height: 302px;
column-gap: 55px;
}
.p-Home.Flex69 {
display: flex;
width: 231px;
height: 302px;
background-color: #ffffff;
border-radius: 35px;
border-style: none;
flex-direction: column;
row-gap: 15px;
}
.p-Home.Flex70 {
display: flex;
width: 231px;
height: 302px;
background-color: #ffffff;
border-radius: 35px;
border-style: none;
flex-direction: column;
row-gap: 15px;
}
.p-Home.Flex68 {
display: flex;
width: 578px;
height: 302px;
column-gap: 55px;
}
.p-Home.Flex71 {
display: flex;
width: 231px;
height: 302px;
background-color: #fbfbfb;
border-radius: 35px;
border-style: none;
flex-direction: column;
row-gap: 15px;
}
.p-Home.Flex72 {
display: flex;
width: 231px;
height: 302px;
background-color: #ffffff;
border-radius: 35px;
border-style: none;
flex-direction: column;
row-gap: 15px;
}
.p-Home.Flex73 {
display: flex;
height: 946px;
width: 1290px;
border-color: transparent;
}
.p-Home.Flex74 {
display: flex;
width: 720px;
height: 946px;
flex-direction: column;
}
.p-Home.Flex75 {
display: flex;
flex-direction: column;
height: 120px;
width: 285px;
row-gap: 10px;
align-items: stretch;
justify-content: space-around;
margin-left: 200px;
}
.p-Home.Flex77 {
display: flex;
height: 61px;
width: 285px;
}
.p-Home.Flex78 {
display: flex;
height: 30px;
width: 285px;
}
.p-Home.Flex79 {
display: flex;
height: 23px;
width: 285px;
}
.p-Home.Flex80 {
display: flex;
width: 570px;
height: 946px;
border-color: transparent;
background-color: #ff7629ff;
}
.p-Home.Flex81 {
display: flex;
width: 528px;
height: 746px;
border-style: solid;
border-radius: 40px;
background-color: #fcfbfb;
flex-direction: column;
border-width: .5px;
border-color: #4d4b4b;
align-items: center;
justify-content: space-around;
position: relative;
right: 175px;
top: 100px;
}
.p-Home.Flex83 {
display: flex;
width: 424px;
height: 83px;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex87 {
display: flex;
flex-direction: column;
}
.p-Home.Flex88 {
display: flex;
flex-direction: column;
}
.p-Home.Flex84 {
display: flex;
width: 424px;
height: 83px;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex89 {
display: flex;
flex-direction: column;
}
.p-Home.Flex90 {
display: flex;
flex-direction: column;
}
.p-Home.Flex85 {
display: flex;
width: 424px;
height: 83px;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex91 {
display: flex;
flex-direction: column;
}
.p-Home.Flex92 {
display: flex;
flex-direction: column;
}
.p-Home.Flex86 {
display: flex;
height: 224px;
width: 424px;
flex-direction: column;
}
.p-Home.Flex93 {
display: flex;
width: 1290px;
height: 693px;
border-style: none;
background-color: #FFF9F3ff;
flex-direction: column;
align-items: center;
}
.p-Home.Flex94 {
display: flex;
flex-direction: row;
height: 83px;
justify-content: space-between;
margin-top: 100px;
width: 970px;
}
.p-Home.Flex95 {
display: flex;
width: 970px;
height: 310px;
align-items: center;
justify-content: space-around;
margin-top: 60px;
}
.p-Home.Flex96 {
display: flex;
width: 310px;
height: 310px;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex97 {
display: flex;
flex-direction: row;
width: 310px;
height: 145px;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex98 {
display: flex;
width: 310px;
height: 145px;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex99 {
display: flex;
width: 1290px;
height: 505px;
align-items: center;
justify-content: center;
row-gap: ;
column-gap: 35px;
}
.p-Home.Flex100 {
display: flex;
width: 364px;
height: 356px;
flex-direction: column;
justify-content: flex-start;
row-gap: 20px;
}
.p-Home.Flex103 {
display: flex;
width: 190px;
height: 30px;
align-items: center;
justify-content: space-around;
}
.p-Home.Flex101 {
display: flex;
width: 206px;
height: 356px;
}
.p-Home.Flex104 {
display: flex;
width: 105px;
height: 355px;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
row-gap: 15px;
}
.p-Home.Flex105 {
display: flex;
width: 105px;
height: 355px;
flex-direction: column;
align-items: flex-start;
row-gap: 15px;
}
.p-Home.Flex102 {
display: flex;
width: 310px;
height: 355px;
flex-direction: column;
align-items: center;
align-content: space-between;
justify-content: space-between;
}
.p-Home.Flex106 {
display: flex;
width: 310px;
height: 310px;
flex-direction: column;
align-items: center;
}
.p-Home.Flex107 {
display: flex;
width: 310px;
height: 145px;
justify-content: space-between;
margin-bottom: 15px;
}
.p-Home.Flex109 {
display: flex;
}
.p-Home.Flex110 {
display: flex;
}
.p-Home.Flex108 {
display: flex;
width: 310px;
height: 145px;
justify-content: space-between;
}
.p-Home.Flex111 {
display: flex;
}
.p-Home.Flex112 {
display: flex;
}
.p-Home.Image1 {
;
}
.p-Home.TextBox1 {
margin-top: 10px;
font-size: 20px;
text-align: center;
cursor: pointer;
}
.p-Home.TextBox2 {
margin-top: 10px;
font-size: 20px;
cursor: pointer;
}
.p-Home.TextBox3 {
margin-top: 10px;
font-size: 20px;
cursor: pointer;
}
.p-Home.TextBox4 {
margin-top: 10px;
font-size: 20px;
}
.p-Home.TextBox5 {
margin-top: 10px;
font-size: 20px;
}
.p-Home.Button1 {
color: ;
background-color: #fcfdff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
outline-style: solid;
outline-offset: ;
outline-color: #000000ff;
outline-width: .5px;
}
.p-Home.Button2 {
color: #fff;
background-color: #ff7629ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
margin-left: 35px;
width: ;
height: 40px;
outline-color: transparent;
outline-style: solid;
}
.p-Home.TextBox8 {
width: 400px;
height: 100px;
margin-left: 210px;
padding-right: ;
padding-left: ;
background-clip: text;
-webkit-background-clip: text;
background-origin: content-box;
position: static;
}
.p-Home.TextBox6 {
font-size: 50px;
}
.p-Home.TextBox7 {
font-size: 50px;
color: #ff7629;
}
.p-Home.Button3 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: .5px;
border-style: solid;
border-color: #010101ff;
cursor: pointer;
user-select: none;
outline-color: transparent;
}
.p-Home.Button4 {
color: #fff;
background-color: #ff7629ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7629ff;
cursor: pointer;
user-select: none;
margin-left: 65px;
}
.p-Home.Image2 {
width: 400px;
height: 400px;
margin-left: ;
border-radius: 50px;
padding-left: 40px;
padding-right: 40px;
z-index: 2;
float: none;
background-origin: border-box;
background-clip: border-box;
-webkit-background-clip: border-box;
position: relative;
padding-bottom: 40px;
padding-top: 40px;
right: 200px;
}
.p-Home.TextBox9 {
font-size: 23px;
margin-left: ;
padding-left: ;
}
.p-Home.Image3 {
height: 30px;
width: 200px;
}
.p-Home.Image4 {
margin-left: 39px;
}
.p-Home.Image5 {
margin-left: 35px;
}
.p-Home.Image6 {
width: 100px;
height: 30px;
margin-left: 25px;
}
.p-Home.TextBox10 {
font-size: 30px;
margin-top: 30px;
}
.p-Home.Image7 {
width: 114px;
height: 114px;
margin-top: 17px;
border-radius: 30px;
}
.p-Home.TextBox11 {
font-size: 25px;
}
.p-Home.TextBox12 {
text-align: center;
}
.p-Home.TextBox13 {
color: #ff7629ff;
}
.p-Home.Image8 {
width: 114px;
height: 114px;
margin-top: 17px;
border-radius: 30px;
}
.p-Home.TextBox14 {
font-size: 25px;
}
.p-Home.TextBox15 {
text-align: center;
}
.p-Home.TextBox16 {
color: #ff7629ff;
}
.p-Home.Image9 {
width: 114px;
height: 114px;
margin-top: 17px;
border-radius: 30px;
}
.p-Home.TextBox17 {
font-size: 25px;
}
.p-Home.TextBox18 {
text-align: center;
}
.p-Home.TextBox19 {
color: #ff7629ff;
}
.p-Home.Image10 {
width: 114px;
height: 114px;
margin-top: 17px;
border-radius: 30px;
}
.p-Home.TextBox20 {
font-size: 25px;
}
.p-Home.TextBox21 {
text-align: center;
}
.p-Home.TextBox22 {
color: #ff7629ff;
}
.p-Home.Button5 {
color: #000000;
background-color: #ffffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 19px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: .5px;
border-style: solid;
border-color: #040404;
cursor: pointer;
user-select: none;
width: 144px;
height: 48px;
}
.p-Home.Button6 {
color: #fff;
background-color: #ff7629ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 19px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7629ff;
cursor: pointer;
user-select: none;
width: 144px;
height: 48px;
}
.p-Home.Image11 {
width: 460px;
height: 460px;
border-radius: 50px;
margin-left: 50px;
margin-top: 140px;
}
.p-Home.TextBox23 {
width: 350px;
height: 25px;
margin-top: ;
margin-left: ;
position: relative;
bottom: 25px;
}
.p-Home.Image12 {
width: 19px;
height: 25px;
}
.p-Home.TextBox24 {
width: 175px;
height: 61px;
color: #504d4dff;
font-size: 13px;
margin-left: 15px;
}
.p-Home.Image13 {
width: 19px;
height: 19px;
}
.p-Home.TextBox25 {
margin-left: 15px;
}
.p-Home.Image14 {
width: 21px;
height: 19px;
}
.p-Home.TextBox26 {
color: #504d4dff;
font-size: 12px;
margin-left: 15px;
}
.p-Home.TextBox27 {
font-size: 35px;
width: 139px;
height: 41px;
}
.p-Home.TextBox28 {
;
}
.p-Home.TextBox29 {
;
}
.p-Home.Button7 {
color: #030101ff;
background-color: #ffffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #0f0f0f;
cursor: pointer;
user-select: none;
width: 119px;
height: 41px;
}
.p-Home.Button8 {
color: #ffff;
background-color: #ff7629ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7629ff;
cursor: pointer;
user-select: none;
width: 156px;
height: 41px;
margin-left: 35px;
}
.p-Home.TextBox30 {
width: 267px;
height: 41px;
font-size: 35px;
margin-top: 35px;
}
.p-Home.TextBox31 {
width: 500px;
text-align: center;
margin-top: 30px;
}
.p-Home.TextBox212 {
text-align: center;
margin-top: 15px;
color: #5a5656;
font-size: 14px;
}
.p-Home.TextBox213 {
text-align: center;
font-size: 19px;
}
.p-Home.Image98 {
width: 225px;
height: 225px;
border-radius: 30px;
}
.p-Home.TextBox206 {
margin-top: 3px;
margin-left: 3px;
}
.p-Home.TextBox214 {
margin-top: 15px;
text-align: center;
color: #5a5656;
font-size: 14px;
}
.p-Home.TextBox215 {
text-align: center;
font-size: 19px;
}
.p-Home.Image99 {
width: 225px;
height: 225px;
border-radius: 30px;
}
.p-Home.TextBox207 {
margin-top: 3px;
margin-left: 3px;
}
.p-Home.TextBox216 {
margin-top: 15px;
text-align: center;
color: #5a5656;
font-size: 14px;
}
.p-Home.TextBox217 {
text-align: center;
font-size: 19px;
}
.p-Home.Image100 {
width: 225px;
height: 225px;
border-radius: 30px;
}
.p-Home.TextBox204 {
margin-top: 3px;
margin-left: 3px;
}
.p-Home.TextBox218 {
text-align: center;
margin-top: 15px;
color: #5a5656;
font-size: 14px;
}
.p-Home.TextBox219 {
text-align: center;
font-size: 19px;
}
.p-Home.Image101 {
width: 225px;
height: 225px;
border-radius: 30px;
}
.p-Home.TextBox208 {
position: relative;
top: 4px;
}
.p-Home.Image102 {
width: 225px;
height: 225px;
border-radius: 30px;
}
.p-Home.TextBox220 {
text-align: center;
font-size: 19px;
}
.p-Home.TextBox221 {
text-align: center;
margin-top: 15px;
font-size: 14px;
color: #5a5656;
}
.p-Home.TextBox209 {
position: relative;
top: 4px;
}
.p-Home.Image103 {
width: 225px;
height: 225px;
border-radius: 30px;
}
.p-Home.TextBox222 {
text-align: center;
font-size: 19px;
}
.p-Home.TextBox223 {
margin-top: 15px;
text-align: center;
color: #5a5656;
font-size: 14px;
}
.p-Home.TextBox205 {
margin-top: 3px;
margin-left: 3px;
}
.p-Home.Image104 {
width: 225px;
height: 225px;
border-radius: 30px;
}
.p-Home.TextBox224 {
text-align: center;
font-size: 19px;
}
.p-Home.TextBox225 {
margin-top: 15px;
text-align: center;
color: #5a5656;
font-size: 14px;
}
.p-Home.TextBox210 {
margin-top: 3px;
margin-left: 3px;
}
.p-Home.Image105 {
width: 225px;
height: 225px;
border-radius: 30px;
}
.p-Home.TextBox226 {
text-align: center;
font-size: 19px;
}
.p-Home.TextBox227 {
text-align: center;
margin-top: 15px;
color: #5a5656;
font-size: 14px;
}
.p-Home.TextBox211 {
margin-top: 3px;
margin-left: 3px;
}
.p-Home.Image19 {
;
}
.p-Home.TextBox44 {
color: #ffffff;
font-size: 38px;
width: 361px;
height: 147px;
margin-top: 200px;
margin-left: 150px;
}
.p-Home.TextBox45 {
color: #ffffff;
width: 457px;
height: 90px;
margin-left: 150px;
}
.p-Home.Button11 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 19px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000ff;
cursor: pointer;
user-select: none;
height: 41px;
}
.p-Home.Button12 {
color: #fff;
background-color: #ff7629ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 19px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffffff;
cursor: pointer;
user-select: none;
height: 41px;
margin-left: 35px;
}
.p-Home.TextBox46 {
margin-top: 140px;
}
.p-Home.TextBox47 {
font-size: 32px;
text-align: center;
width: 365px;
height: 41px;
margin-top: 150px;
}
.p-Home.TextBox48 {
width: 565px;
height: 41px;
margin-bottom: 65px;
margin-top: 25px;
text-align: center;
}
.p-Home.Image20 {
width: 60px;
height: 60px;
background-color: transparent;
padding-left: ;
border-radius: 50px;
box-shadow: 1px 1px 0px 0px  ;
color: transparent;
border-width: 3px;
border-style: solid;
border-color: #919191ff;
margin-left: ;
}
.p-Home.TextBox50 {
width: 541px;
height: 53px;
font-size: 14px;
margin-left: 45px;
}
.p-Home.Image22 {
width: 30px;
height: 30px;
}
.p-Home.Image23 {
width: 30px;
height: 30px;
}
.p-Home.Image24 {
width: 30px;
height: 30px;
}
.p-Home.Image25 {
width: 30px;
height: 30px;
}
.p-Home.Image26 {
width: 30px;
height: 30px;
}
.p-Home.TextBox49 {
width: 541px;
height: 31px;
font-size: 24px;
margin-left: 45px;
}
.p-Home.Image27 {
width: 50px;
height: 50px;
border-radius: 50px;
}
.p-Home.TextBox52 {
;
}
.p-Home.TextBox51 {
;
}
.p-Home.Image21 {
width: 60px;
height: 60px;
border-radius: 50px;
border-width: 3px;
border-color: #919191;
border-style: solid;
}
.p-Home.Button13 {
color: #fff;
background-color: #ff7629ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 17px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7629ff;
cursor: pointer;
user-select: none;
width: 141px;
height: 43px;
}
.p-Home.Button14 {
color: #040404;
background-color: #fcfcfc;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 17px;
border-radius: 255px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
width: 141px;
height: 43px;
}
.p-Home.TextBox53 {
width: 181px;
height: 41px;
font-size: 32px;
margin-left: 35px;
}
.p-Home.TextBox54 {
margin-top: 20px;
}
.p-Home.Image28 {
width: 481px;
height: 427px;
border-radius: 50px;
}
.p-Home.TextBox55 {
font-size: 15px;
padding-left: 35px;
padding-top: 15px;
}
.p-Home.TextBox56 {
font-size: 26px;
padding-top: 15px;
padding-left: 35px;
}
.p-Home.TextBox57 {
font-size: 15px;
padding-left: 35px;
}
.p-Home.Image29 {
width: 231px;
height: 181px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox58 {
padding-left: 25px;
}
.p-Home.TextBox59 {
padding-left: 25px;
}
.p-Home.Image30 {
width: 231px;
height: 181px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox60 {
padding-left: 25px;
}
.p-Home.TextBox61 {
padding-left: 25px;
}
.p-Home.Image31 {
width: 231px;
height: 181px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox62 {
padding-left: 25px;
}
.p-Home.TextBox63 {
padding-left: 25px;
}
.p-Home.Image32 {
width: 231px;
height: 181px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
}
.p-Home.TextBox64 {
padding-left: 25px;
}
.p-Home.TextBox65 {
padding-left: 25px;
}
.p-Home.TextBox66 {
font-size: 34px;
width: 332px;
height: 43px;
margin-top: 250px;
margin-left: 200px;
}
.p-Home.TextBox67 {
width: 285px;
height: 82px;
font-size: 16px;
margin-left: 200px;
}
.p-Home.Image33 {
width: 22px;
height: 30px;
}
.p-Home.TextBox68 {
height: 61px;
padding-left: 15px;
}
.p-Home.Image34 {
width: 30px;
height: 30px;
}
.p-Home.TextBox69 {
padding-left: 15px;
}
.p-Home.Image35 {
width: 30px;
}
.p-Home.TextBox70 {
padding-top: 0px;
padding-left: 15px;
}
.p-Home.Button15 {
color: #fff;
background-color: #ff7629ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7629ff;
cursor: pointer;
user-select: none;
width: 170px;
height: 41px;
}
.p-Home.TextBox71 {
width: 202px;
height: 23px;
font-size: 18px;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: .5px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 50px;
width: 202px;
height: 39px;
margin-top: 20px;
}
.p-Home.TextBox72 {
font-size: 18px;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: .5px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 50px;
width: 202px;
height: 39px;
margin-top: 20px;
}
.p-Home.TextBox73 {
font-size: 18px;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: .5px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 50px;
width: 202px;
height: 39px;
margin-top: 20px;
}
.p-Home.TextBox75 {
font-size: 18px;
}
.p-Home.Input7 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: .5px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 50px;
width: 202px;
height: 39px;
margin-top: 20px;
}
.p-Home.TextBox76 {
font-size: 18px;
}
.p-Home.Input8 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: .5px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 50px;
width: 202px;
height: 39px;
margin-top: 20px;
}
.p-Home.TextBox77 {
font-size: 18px;
}
.p-Home.Input9 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: .5px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 50px;
width: 202px;
height: 39px;
margin-top: 20px;
}
.p-Home.TextBox78 {
font-size: 18px;
}
.p-Home.Input10 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 90px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: .5px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 25px;
width: 424px;
height: 180px;
margin-top: 20px;
}
.p-Home.TextBox79 {
font-size: 32px;
margin-left: ;
}
.p-Home.Button16 {
color: #000000ff;
background-color: #ff7629ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 40px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7629ff;
cursor: pointer;
user-select: none;
width: 137px;
height: 53px;
margin-right: 1px;
}
.p-Home.Image36 {
width: 300px;
height: 300px;
border-radius: 50px;
}
.p-Home.Image37 {
width: 300px;
height: 300px;
border-radius: 50px;
}
.p-Home.Image38 {
width: 145px;
height: 145px;
border-radius: 30px;
}
.p-Home.Image39 {
width: 145px;
height: 145px;
border-radius: 30px;
}
.p-Home.Image40 {
width: 145px;
height: 145px;
border-radius: 30px;
}
.p-Home.Image41 {
width: 145px;
height: 145px;
border-radius: 30px;
}
.p-Home.Image42 {
width: 243px;
height: 32px;
margin-top: ;
}
.p-Home.TextBox80 {
font-size: 14px;
}
.p-Home.Image43 {
width: 30px;
height: 30px;
}
.p-Home.Image44 {
width: 30px;
height: 30px;
}
.p-Home.Image45 {
width: 30px;
height: 30px;
}
.p-Home.Image46 {
width: 30px;
height: 30px;
}
.p-Home.Image47 {
width: 30px;
height: 30px;
}
.p-Home.TextBox84 {
font-size: 20px;
}
.p-Home.TextBox86 {
;
}
.p-Home.TextBox87 {
;
}
.p-Home.TextBox88 {
;
}
.p-Home.TextBox89 {
;
}
.p-Home.TextBox90 {
;
}
.p-Home.TextBox91 {
;
}
.p-Home.TextBox92 {
;
}
.p-Home.TextBox85 {
font-size: 20px;
}
.p-Home.TextBox93 {
;
}
.p-Home.TextBox94 {
;
}
.p-Home.TextBox95 {
;
}
.p-Home.TextBox96 {
;
}
.p-Home.TextBox97 {
;
}
.p-Home.TextBox98 {
;
}
.p-Home.TextBox99 {
;
}
.p-Home.TextBox100 {
font-size: 20px;
}
.p-Home.Image48 {
width: 145px;
height: 145px;
border-radius: 30px;
}
.p-Home.Image49 {
width: 145px;
height: 145px;
border-radius: 30px;
}
.p-Home.Image50 {
width: 145px;
height: 145px;
border-radius: 30px;
}
.p-Home.Image51 {
width: 145px;
height: 145px;
border-radius: 30px;
}
